
.card-front,
.card-back {
  position: absolute;
  border: 1px solid #49494b;
  border-radius: 5px;
  box-sizing: border-box; /* TO NOT OVERLAP */
  -moz-backface-visibility: hidden; /* FIX MOBILE FIREFOX */
}

.card {
  transform: scale(1);
  transition: transform .1s;
  cursor:pointer;
  max-width:92px; /* (widthOfPic + 2* border) */
}

.card:active {
  transform: scale(0.97);
  transition: transform .1s;
}

.card-front {
  transform: rotateY(180deg);
  cursor:default;
}

.card.flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
}

.card.match{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
}

.card_debug{
  transform: scale(1);
  transition: transform .1s;
  cursor:pointer;
  max-width:92px; /* (widthOfPic + 2* border) */
  border: 3px solid black;
  border-radius: 5px;
}

.card_debug.flip_debug {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
  border: 3px solid red;
  border-radius: 5px;
}

.card_debug.match_debug{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
  border: 3px solid green;
  border-radius: 5px;
}